<ul>
  <li
    routerLinkActive="text-primary"
    [routerLinkActiveOptions]="{ exact: true }"
    [routerLink]="''"
  >
    Home
  </li>
  <li
    routerLinkActive="text-primary"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLink="httpservice"
    [queryParams]="{ page: 1, order: 'newest' }"
  >
    HTTP Service
  </li>
  <li
    routerLinkActive="text-primary"
    [routerLinkActiveOptions]="{ exact: true }"
    [routerLink]="'templatederive'"
  >
    Template Derive Forms
  </li>
  <li
    routerLinkActive="text-primary"
    [routerLinkActiveOptions]="{ exact: true }"
    [routerLink]="'reactiveforms'"
  >
    Reactive Forms
  </li>
  <li
    routerLinkActive="text-primary"
    [routerLinkActiveOptions]="{ exact: true }"
    [routerLink]="'reactiveformssingin'"
  >
    Reactive Forms Sign in
  </li>
  <li
    routerLinkActive="text-primary"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLink="sadasd"
  >
    Not Found
  </li>
</ul>
