<div class="m-5">
  <input
    type="text"
    class="form-control mb-5"
    #description
    (keyup.enter)="onPost(description)"
  />

  <ul class="list-group">
    <li
      class="list-group-item d-flex flex-row-reverse align-items-center justify-content-around"
      *ngFor="let post of posts"
    >
      <span>{{ post.description }}</span>
      <input
        type="text"
        #updatePost
        (keyup.enter)="onPatch(post, updatePost)"
      />
      <button class="btn btn-outline-danger" (click)="onDelete(post)">
        Delete
      </button>
    </li>
  </ul>
</div>
